.profile-header
{
    background: #fff; 
    width: 100%; 
    display: flex;
    height: 190px; 
    position: relative; 
    box-shadow: 0px 3px 4px rgba(0,0,0,.2);
}

.profile-img 
{
    float: left; 
    width: 340px; 
    height: 200px; 
}

.profile-img img 
{
    border-radius: 50%; 
    width: 230px; 
    height: 230px;
    object-fit: contain;
    border: 4px solid #fff; 
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
    position: absolute; 
    left: 50px; 
    top: 20px; 
    z-index: 5; 
    background: #fff;

}

.profile-nav-info 
{
    float: left; 
    flex-direction: column;
    justify-content: center;
    padding-top: 60px; 
}

.profile-nav-info h3
{
    font-variant: small-caps; 
    font-size: 2rem; 
    font-family: sans-serif; 
    font-weight: bold; 
}

.profile-nav-info .address
{
    display: flex; 
    font-weight: bold; 
    color: grey; 

}

.profile-nav-info .address p
{
    margin-right: 5px; 

}

.profile-body-center
{
    float: center;
    margin-left:200px;
}
.profile-body-left
{
    float: left;
    margin-left: 95px;
}
.profile-body-right
{
    float: right;
    margin-right: 55px;
}

.main-bd 
{
    width: 100%; 
    display: flex; 
    padding-right: 15px;
}

.profile-side 
{
    width: 400px; 
    height: 400px;
    background: #fff; 
    box-shadow: 0px 3px 5px rgba(0,0,0,.2);
    padding: 90px 30px 20px;
    font-family: sans-serif; 
    margin-left: 10px; 
}

h1
{
    font-family: 'montserrat';
    color: white; 
    background: #40916C;
    border: 0;
    box-shadow: 0px 2px 4px 0px;
    align-content: center;
    font-size: 1.2rem; 
    margin-bottom: 30px;
    padding-left: 10px;
    border-radius: 10px 10px 10px 10px;
}

.profile-container h2
{
    color: #40916C;
    font-size: 15px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 15px;
}

.profile-container p.mobile-no, p.user-mail
{
    border: 0;
    border-bottom: 1px solid #40916C;
    width: 80%;
    font-family: 'montserrat';
    font-size: 15px;
    padding: 7px 0;
    margin-left: 15px;
}

.nav 
{
    width: 100%; 
    display: flex;
    z-index: -1;
    position: fixed;
}

.nav ul
{
    position: relative;
    display: flex; 
    justify-content: center; 
    list-style-type: none;
    height: 40px; 
    background: #fff;
    box-shadow: 0px 2px 5px rgba(0,0,0,.3);
}

.nav ul li 
{
    position:relative;
    padding: 10px; 
    width: 27rem; 
    cursor: pointer;
    text-align: center; 
    transition: all .2s ease-in-out; 
}

.nav ul li.active
{
    box-shadow: 0px -3px 0px green inset;
}
