.profile-header
{
    background: #fff; 
    width: 100%; 
    display: flex;
    height: 190px; 
    position: relative; 
    box-shadow: 0px 3px 4px rgba(0,0,0,.2);
}

.profile-img 
{
    float: left; 
    width: 340px; 
    height: 200px; 
}

.profile-img img 
{
    border-radius: 50%; 
    height: 230px; 
    width: 230px; 
    border: 4px solid #fff; 
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
    position: absolute; 
    left: 50px; 
    top: 20px; 
    z-index: 5; 
    background: #fff;

}

.profile-nav-info 
{
    float: left; 
    flex-direction: column;
    justify-content: center;
    padding-top: 60px; 
}

.profile-nav-info h3
{
    font-variant: small-caps; 
    font-size: 2rem; 
    font-family: sans-serif; 
    font-weight: bold; 
}

.profile-nav-info .address
{
    display: flex; 
    font-weight: bold; 
    color: grey; 

}

.profile-nav-info .address p
{
    margin-right: 5px; 

}
.profile-body-center
{
    float: center;
    margin-left:200px;
}
.profile-body-left
{
    float: left;
    margin-left: 95px;
}
.profile-body-right
{
    float: right;
    margin-right: 55px;
}

.main-bd 
{
    width: 100%; 
    display: flex; 
    padding-right: 15px;
}

.profile-side 
{
    width: 400px; 
    background: #fff; 
    box-shadow: 0px 3px 5px rgba(0,0,0,.2);
    padding: 90px 30px 20px;
    font-family: sans-serif; 
    margin-left: 10px; 
}

.profile-side p
{
    margin-bottom: 7px; 
    color: #333; 
    font-size: 14px; 

}

.profile-side p i
{
    color: teal; 
    margin-right: 10px;
}

.user-rating
{
    display: flex; 
}
.user-rating h3
{
    font-size: 2rem;
    font-weight: 200;
    margin-right: 5px; 
    letter-spacing: 1px;
    color: grey; 
}

.rate i
{
    font-size: .9rem; 
    color: teal;
}

.nav 
{
    width: 100%; 
    z-index: -1; 
}

.nav ul
{
    display: flex; 
    justify-content: center; 
    list-style-type: none;
    height: 40px; 
    background: #fff;
    box-shadow: 0px 2px 5px rgba(0,0,0,.3);
}

.nav ul li 
{
    padding: 10px; 
    width: 27rem; 
    cursor: pointer;
    text-align: center; 
    transition: all .2s ease-in-out; 
}

.nav ul li.active, .nav ul li:hover 
{
    box-shadow: 0px -3px 0px rgba(288,0,70,.9) inset;
}
