.login-container {
  margin: 24px 16px;
  border-radius: 16px;
  padding: 24px;
  background: white;
}

.login-form {
  margin-top: 24px;
}

.login-form input[type=text], .login-form input[type=phoneNumber], .login-container input[type=password] {
  margin-bottom: 8px;
  border: 1px solid gray;
  border-radius: 50vh;
  padding: 6px;
  font-size: 1em;
  outline: 0;
}

.login-form input[type=submit], .login-container button {
  border: 0;
  border-radius: 50vh;
  padding: .25em .75em;
  background: #A3C1AD;
  cursor: pointer;
  font-family: 'Lato';
  font-size: 1em;
  font-weight: bold;
}

.login-form input[type=submit] {
  margin-top: 16px;
  font-size: 1.5rem;
}

.login-container button {
  margin-top: 8px;
  font-size: 1rem;
}

.login-form input[type=submit]:hover, .login-container button:hover {
  background: #9BB9A5;
}

.login-form input[type=submit]:hover, .login-container button:hover {
  background: #85A38F;
}