.postmaker {
  margin: 24px 16px;
  border-radius: 16px;
  padding: 24px;
  background: white;
}

.postmaker>h1 {
  margin-bottom: 8px;
  font-family: 'Montserrat';
}

.postmaker>* {
  font-family: 'Lato';
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 320px;
}

.column>* {
  margin: 8px 0;
}

.column>label>input, .column>label>select {
  border: 1px solid gray;
  border-radius: 50vh;
  padding: 6px;
  font-size: 1em;
  outline: 0;
}

input, select, textarea {
  font-family: 'Lato';
  font-size: 1em;
}

.checkboxes {
  display: flex;
  flex-direction: column;
}

.checkboxes>label {
  display: flex;
  align-items: center;
  margin: 4px 0;
}

input[type='checkbox'] {
  margin-right: 4px;
  border-radius: 50vh;
  width: 2em;
  height: 2em;
}

.column>label>textarea {
  margin-top: 8px;
  border: 1px solid gray;
  border-radius: 16px;
  padding: 12px;
  width: 100%;
  font-size: 1em;
  outline: 0;
  resize: none;
}

.newpost-submit {
  margin-top: 8px;
  border: 0;
  border-radius: 50vh;
  outline: 0;
  text-align: center;
  padding: .5em 1em;
  background: #A3C1AD;
  cursor: pointer;
  font-family: 'Lato';
  font-size: 1.17em;
  font-weight: bold;
}

.newpost-submit:hover {
  background: #9BB9A5;
}

.newpost-submit:active {
  background: #85A38F;
}