.filter-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  max-width: 1248px;
  padding: 0 1.5em;
}

.filter-input {
  display: flex;
  align-items: center;
}

.input-s {
  width: 48px;
}

.input-m {
  width: 57px;
}

.input-l {
  width: 75px;
}

input[type=number] {
  margin-right: 1em;
  border: 1px solid #8C8C8C;
  border-radius: 10px;
  padding: 6px;
  font-size: 1em;
  outline: 0;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

input[type=submit] {
  border: 1px solid #8C8C8C;
  border-radius: 10px;
  padding: 6px .75em;
  font-size: 1em;
}

select {
  margin-right: 1em;
  border: 1px solid #8C8C8C;
  border-radius: 10px;
  padding: 6px;
  font-size: 1em;
  outline: 0;
}