@media screen and (min-width: 1280px) {
  .filter-form {
    width: 1280px;
  }
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
  padding: 0 16px;
  margin: auto;
}

.filter-form > * {
  margin: 2px .5em;
  font-size: 1em;
}

.input-s {
  width: 48px;
}

.input-m {
  width: 57px;
}

.input-l {
  width: 75px;
}

input, select {
  border: 0;
  border-radius: 50vh;
  padding: 6px;
  font-size: 1em;
  outline: 0;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

input[type=submit] {
  padding: 6px 1em;
  background: #A3C1AD;
  font-weight: bold;
  color: black;
}