.navbar {
  position: fixed;
  /* box-shadow: 0 0 10px #CCCCCC; */
  width: 100%;
  height: 64px;
  background: #40916C;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  max-width: 1280px;
  height: 100%;
  padding: 0 16px;
  color: white;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: .5em;
  height: 48px;
}

.navbar-buttons {
  display: flex;
}

.navbar-buttons>button {
  margin-left: .75em;
  border: 2px solid white;
  border-radius: 50vh;
  padding: .5em 1em;
  background: #40916C;
  font-size: 1em;
  font-family: 'Montserrat';
  font-weight: 600;
  color: white;
}

.navbar-buttons>button:hover {
  background: white;
  color: #40916C;
}

.navbar-buttons>button:active {
  border-color: #E1E1E1;
  background: #E1E1E1;
}