* {
    margin: 0;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 16px;
    box-shadow: 0 0 10px #CCCCCC;
    border-radius: 16px;
    box-sizing: border-box;
    width: 288px;
    height: 420px;
    padding: 16px;
}

.photo {
    border-radius: 8px;
    width: 256px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
    height: 100%;
    font-size: 1.25rem;
}

.top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.top h4 {
    margin: 4px 0;
    font-size: 14px;
}

.fav {
    border: 0;
    border-radius: 50%;
    padding: 0;
    font-size: 1.75rem;
    line-height: 1.75rem;
    text-align: center;
    color: grey;
}

.fav.saved {
    color:#F2CD00;
}

.fav:hover {
    color: rgb(180, 180, 180);
}

.fav.saved:hover {
    color: #c4a000;
}

.card ul {
    padding-left: 16px;
    font-size: 0.875rem;
    line-height: 160%;
}

.bottom {
    padding-top: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.bottom button:hover {
    color: #74A4C8;
}

.date {
    font-size: 0.875rem;
    color: gray;
}
